
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-weight: 800;
    color: aqua;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 50px aqua;
    border-radius: 32px;
    padding: 40px;
}
.input{
    display: flex;
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid white;
}
.input label{
    position: absolute;
    top: 15%;
    left: 35px;
    font-size: 16px;
    transform: translate(-50%);
    color: #fff;
    pointer-events: none;
    transition: 0.3s ease;
}
.input input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}
.remember{
    display: flex;
    margin: -5px 0 15px 5px;
}
.remember label{
    color: #fff;
    font-size: 14px;
}
button{
    position: relative;
    width: 300px;
    height: 40px;
    background-color: aqua;
    box-shadow: 0 0 10px aqua;
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
}
.remember label input{
    accent-color: aqua;
}
button:hover{
    transition: .5s;
    background-color: rgb(12, 146, 146); 
}
.signup{
    padding: 10px;
    text-align: center;
}
.signup p{
    color: #fff;
    font-weight: 600;
}
.signup p a:hover{
    color: aqua;
}

.input input:focus~label,
.input input:valid~label{
    top: -10px;
}

.nav {
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

.logo {
    display: flex;
    background: none;
}

img {
    height: 100px;
    width: 100px;
    background: none;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: larger;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #0066cc;
    padding-top: 43px;
    background: none;
}
#block{
    display: flex;
    justify-content: space-between;
}
#block p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
}